<!doctype html>
<html lang="en">
<head>
    <title>Products</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Products</h1>
    <p>List of products</p>
    {% if error_message is none %}
        {% if products %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name|e }}</td>
                        <td>{{ product.category|e }}</td>
                        <td>{{ product.price|e }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No products found</p>
        {% endif %}
    {% else %}
            <p>{{ error_message|e}}</p>
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>
